
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.center-content {
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

.absolute-full {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
}

svg {
    fill: currentColor;
}

h1 {
    @apply text-5xl;
    @apply mb-4;
    @apply font-weight-600;
}

h2 {
    @apply text-4xl;
    @apply mb-4;
    @apply font-weight-600;
}

h3 {
    @apply text-3xl;
    @apply mb-4;
    @apply font-weight-600;
}

h4 {
    @apply text-2xl;
    @apply mb-4;
    @apply font-weight-600;
}

h5 {
    @apply text-xl;
    @apply mb-4;
    @apply font-weight-600;
}

main p {
    @apply text-xl;
    @apply mb-4;
    @apply text-justify;
    @apply font-weight-400;
    @apply text-gray-900;
}

main p a {
    @apply text-xl;
    @apply mb-4;
    @apply text-justify;
    @apply font-weight-600;
}

main strong {
    @apply font-weight-600;
}

main h1 {
    @apply w-full;
    @apply leading-tight;
    @apply text-center;
    @apply mb-8;
}

main h2 {
    @apply mt-8;
    @apply w-full;
    @apply text-center;
    @apply leading-tight;
}

blurred-image {
    -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
    filter: blur(4px);
}

.adjacent-shadow { 
    position: relative;
  }
   
.adjacent-shadow:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    @apply shadow;
}
